[[extend 'layout.html']]

[[block page_head]]
<link rel="stylesheet" href="components/gcs_fileupload/gcs_fileupload.css">
[[end]]

<div class="section">
  <div id="vue">
    [[=uploader]]
  </div>
</div>

[[block page_scripts]]
<script src="components/gcs_fileupload/gcs_fileupload.js"></script>
<script>
  var app = new Vue({
      el: "#vue",
      data: {},
  });
</script>
[[end]]
